<div class="my-3">
<h4>Add a Todo</h4>
<form (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="title">Todo Title</label>
      <input type="text" [(ngModel)]="title" class="form-control" id="title" aria-describedby="emailHelp" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="mb-3">
      <label for="desc">Todo Description</label>
      <input type="text" class="form-control" id="desc" [(ngModel)]="desc" [ngModelOptions]="{standalone: true}">
    </div>
    <button type="submit" class="btn btn-sm btn-primary">Add Todo</button>
  </form>
</div>